APP_NAME=
APP_VERSION=
ENVIRONMENT=

DATABASE_URL=

SECRET_KEY=

ALGORITHM=

ACCESS_TOKEN_EXPIRE_MINUTES=

REFRESH_TOKEN_EXPIRE_DAYS=

BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

PASSWORD_MIN_LENGTH=