fastapi
uvicorn[standard]

sqlalchemy
alembic

python-multipart
python-dotenv

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

websockets

numpy
opencv-python
Pillow

# tensorflow

requests

firebase-admin

pytest
httpx