fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
python-multipart
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
pwdlib[argon2,bcrypt]
argon2-cffi
websockets
numpy
opencv-python-headless
Pillow
ultralytics
easyocr
rapidfuzz
email-validator
cloudinary
httpx