fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
python-multipart
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
websockets
numpy
opencv-python-headless
Pillow
ultralytics
easyocr
rapidfuzz
cloudinary
httpx